.card {
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    max-width: 300px;
}

.count {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
}
